.checkout {
  width: 330px;
}

.checkout-image {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.checkout-product-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
