.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: -3px 10px 5px -6px rgba(0, 0, 0, 0.55);
  -webkit-box-shadow: -3px 10px 5px -6px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: -3px 10px 5px -6px rgba(0, 0, 0, 0.55);
}

.navbar-container {
  max-width: 1100px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar-links-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.navbar-links {
  color: black;
  cursor: pointer;
}

.nav-logo {
  height: 80px;
  width: auto;
}

.navbar-logout {
  height: 30px;
  cursor: pointer;
}
