.dashboard {
  width: 100vw;
  height: 100vh;
}

.dashboard-container {
  margin-top: 20px;

  max-width: 1100px;
  width: 100%;

  display: flex;
  justify-content: center;
  gap: 10px;
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center; */
}

.total-sales-container {
  border: 3px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  height: 338px;
}

.total-sales {
  display: flex;
  align-items: center;
  padding-right: 50px;
}
